<div class="parent2">
  <div class="container h-100">
    <div
      class="row text-white h-100 justify-content-center align-content-center text-center"
    >
      <div class="col-md-4 py-3 ss">
        <h3>LOCATION</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
      <div class="col-md-4 py-3">
        <h3>AROUND THE WEB</h3>
        <i
          class="fa-brands fa-facebook border border-1 fs-5 p-2 rounded-circle mx-2"
        ></i>
        <i
          class="fa-brands fa-twitter border border-1 fs-5 p-2 rounded-circle mx-2"
        ></i>
        <i
          class="fa-brands fa-linkedin border border-1 fs-5 p-2 rounded-circle mx-2"
        ></i>
        <i
          class="fa-solid fa-earth-americas border border-1 fs-5 p-2 rounded-circle mx-2"
        ></i>
      </div>
      <div class="col-md-4 py-3">
        <h3>ABOUT FREELANCER</h3>
        <p>
          Freelance is a free to use, licensed Bootstrap theme created by Route
        </p>
      </div>
    </div>
  </div>
</div>
<div
  class="end text-center text-white d-flex justify-content-center align-items-center"
>
  <p>Copyright © Your Website 2021</p>
</div>
