<div class="container d-flex vh-100 flex-column justify-content-center text-white">
    <div class="text-center">
      <h2 class="text-uppercase fw-bold h1">about component</h2>
      <app-star></app-star>
    </div>
    <div class="row p-3">
      <div class="col-md-6 py-2">
        <div>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
      </div>
      <div class="col-md-6 py-2">
        <div>
          Freelancer is a free bootstrap theme created by Route. The download
          includes the complete source files including HTML, CSS, and JavaScript
          as well as optional SASS stylesheets for easy customization.
        </div>
      </div>
    </div>
</div>
