<div class="parent text-center">
  <div class="container overflow-auto">
    <div class="firs vh-100">
      <h2 class="text-uppercase fw-bold h1">conatct section</h2>
      <app-darkstar></app-darkstar>
      <div>
        <div class="mb-3">
          <div class="text-start position-relative w-50 mx-auto">
            <input
              type="text"
              id="nameinput"
              class="form-control py-2 my-5 m-auto"
              placeholder="userName"
              [(ngModel)]="data"
            />
            <small
              class="position-absolute top-0 start-0 Color normal fs-6 tr"
              id="nm"
              [class.change]="data"
              >userName :
            </small>
          </div>
          <div class="text-start position-relative w-50 mx-auto">
            <input
              type="number"
              id="nameage"
              class="form-control py-2 my-5 m-auto"
              placeholder="userAge"
              [(ngModel)]="data2"
            />
            <small
              class="position-absolute top-0 start-0 Color fs-6 normal tr"
              id="nm"
              [class.change]="data2"
              >userAge :
            </small>
          </div>
          <div class="text-start position-relative w-50 mx-auto">
            <input
              type="email"
              id="nameemail"
              class="form-control py-2 my-5 m-auto"
              placeholder="userEmail"
              [(ngModel)]="data3"
            />
            <small
              class="position-absolute top-0 start-0 Color fs-6 normal tr"
              id="nm"
              [class.change]="data3"
              >userEmail :
            </small>
          </div>
          <div class="text-start position-relative w-50 mx-auto">
            <input
              type="password"
              id="namepassword"
              class="form-control py-2 my-5 m-auto"
              placeholder="userPassword"
              [(ngModel)]="data4"
              />
            <small
              class="position-absolute top-0 start-0 Color fs-6 normal tr"
              id="nm"
              [class.change]="data4"
              >userPassword :
            </small>
          </div>
          <div class="w-50 mx-auto text-start">
            <button class="text-white send rounded-3" id="btn">
              send Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
