<nav class="navbar navbar-expand-lg p-2 position-fixed end-0  tr start-0 z-3 " [class.pa]='isScrolled'>
  <div class="container">
    <a class="navbar-brand text-white startF fw-bold text-uppercase"routerLink="home" >Start Framework</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
          <a class="nav-link  text-uppercase text-white fw-bold rounded-2" routerLink="about" routerLinkActive="color">about</a>
        </li>
      <li class="nav-item">
          <a class="nav-link  text-uppercase text-white fw-bold rounded-2" routerLink="portfolio" routerLinkActive="color">portfolio</a>
        </li>
      <li class="nav-item">
          <a class="nav-link  text-uppercase text-white fw-bold rounded-2" routerLink="contact" routerLinkActive="color">contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
